<!DOCTYPE html>
<html ng-app="Demo" ng-controller="DemoCtrl">
<head>
    <meta charset="utf-8">
    <title>ngCombo Demo</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="ngCombo.css">
    <style>
        [ng-cloak]{display:none}
        .wrapper {
            width: 800px;
            margin: 20px auto;
        }
        [ng-combo] {
            width: 380px;
            float: left;
        }
        [ng-bind="pkg | json"] {
            float: right;
            width: 380px;
        }
    </style>
</head>
<body ng-cloak>
    <div class="wrapper">
        <div ng-combo nc-seperator="';'" nc-parser="parser" nc-formatter="formatter" nc-limit="8" nc-data="data" ng-model="pkg" ng-disabled="comboDisabled"></div>
        <pre ng-bind="pkg | json"></pre>
        <button style="margin-top:20px" class="btn btn-default" ng-click="comboDisabled=!comboDisabled">{{comboDisabled?'comboDisabled=false':'comboDisabled=true'}}</button>
    </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
    <script src="ngCombo.js"></script>
    <script>
        angular.module('Demo', ['ngCombo'])
        .controller('DemoCtrl', ['$scope', '$timeout', function ($scope, $timeout) {
          $scope.pkg = [1,2,3];
          $scope.data = [
            {
                key: 'A',
                value: 1
            },
            {
                key: 'B',
                value: 2
            }
          ];

          $scope.formatter = function (item) {
            return item.key;
          };

          $scope.parser = function (item) {
            return item.value;
          };

          $timeout(function () {
            $scope.data.push({
                key: 'C',
                value: 3
            });
            $scope.data.push({
                key: 'D',
                value: 4
            });
          }, 3000);
        }]);
    </script>
</body>
</html>
