<div class="ngCombo"
     ng-class="{disabled:disabled}"
     ng-mouseenter="overComponent=true"
     ng-mouseleave="overComponent=false;hideListIfBlured()">
    <!-- <div class="ngComboMask" ng-hide="showList" ng-click="showListAndFocus()"></div> -->
    <div class="selectedItems" ng-click="showListAndFocus()">
        <div class="placeholder" ng-bind="placeholder" ng-hide="selectedItems.length"></div>
        <span ng-repeat="item in selectedItems track by $index">
            {{_formatter(item)}}
            <i ng-class="{disabled:showList}" ng-click="remove(item,$event)">&times;</i>
        </span>
    </div>
    <div ng-show="showList" class="show-list" ng-class="{nb:!filteredData.length}">
        <input ng-model="query"
               class="comboQuery"
               placeholder="{{scope.placeholder}}"
               ng-blur="isBlured=true;hideListAsyn()"
               ng-focus="isBlured=false;updateInputPos()"
               ng-keydown="onInput($event, filteredData)">
        <div class="optionList" ng-show="filteredData.length">
            <!-- <div class="option"
                 ng-click="toggle(item)"
                 ng-bind="_formatter(item)"
                 ng-class="{selected: isSelected(item)}"
                 ng-repeat="item in selectedItems track by $index">
            </div> -->
            <div class="option"
                 ng-click="toggle(item)"
                 ng-bind="_formatter(item)"
                 ng-repeat="item in filteredData track by $index"
                 ng-class="{selected: isSelected(item), hovered: hoverIndex == $index}">
            </div>
        </div>
    </div>
</div>
